.image-container{
    width: 150px;
    height: 150px;
}

.image-container-2{
    width: 200px;
}

.image-container-2 img{
    width: 100%;
}

.small-container{
    max-width: 700px;
    margin: 0 auto;
}